/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
.navbar{
	padding:2em;
}


.post{
	margin-top:20px;
	box-shadow: 0 0 5px grey;
	position: relative;
	float:left;
	width:300px;
	margin-left:100px;
	margin-bottom: 30px;
}


.panel.panel-primary{
	margin-top: 20px;
}
.panel-heading{
	font:30px Tahoma;
}

.panel.panel-success{
	margin-bottom: 0px;
}

.btn.btn-default{
	border-style:none;
	border-radius:0px;
    color:#555;
    background-color:#E7E7E7;
    padding:15px;
}
.btn.btn-default:hover{
	background-color:#3C763D;
	color:white;
}